.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.android/
.bash_history
.bash_profile
.cache/
.config/
.dir_colors
.gitconfig
.gradle/
.ipython/
.lesshst
.local/
.rnd
.ssh/
.subversion/
.tmux.conf
.viminfo
.vnc/
.wireshark-etc/
.wireshark/
Applications/
Box Sync/
Desktop/
Documents/
Downloads/
Library/
MOS
Movies/
Music/
MyJabberFiles/
Neil/
Pictures/
Public/
Thumbs.db
cdsis_cases
cdsis_components
cdsis_home
cdsis_release
fail.pcap
pos.png
proj/
soft/
statselctrl.html
tech/
test.sh
tmp.html
tmp/
vim.tgz
vim_old.tgz
web/
work/
ws/
